section.newsletter {
    background: $newsletter-bg;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    padding: 0 40px;
    @include respond-below(sm) {
        gap: 20px;
        padding: 0 20px;
    }

    div.newsletter-img-wrapper {
        grid-column: 2 / span 3;
        margin-top: -100px;
        margin-bottom: 2rem;
        align-self: end;
        @include respond-below(md){
            display: none;
        }
    }

    div.newsletter-content {
        grid-column: 7 / span 5;
        margin: auto 0;
        padding: 2rem 0;

        @include respond-below(md){
            grid-column: span 12;
            margin: 0;
        }

        h2{
            margin: 1.5rem 0;
        }
        button{
            margin-top: 3rem;
        }
    }
}